<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>joinUsServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetNewId</display-name>
    <servlet-name>GetNewId</servlet-name>
    <servlet-class>com.joinus.server.servlet.user.GetNewId</servlet-class>
    <init-param>
      <description>用户昵称</description>
      <param-name>name</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description>用户唯一身份ID（如果传入该值，会使用服务端已纪录的ID校验是否重复，如果重复，将返回一个服务端生成的ID，如果不重复，将会采用客户端的ID）</description>
      <param-name>uid</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description>电话号码</description>
      <param-name>phone_no</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description>设备的唯一标识</description>
      <param-name>device_no</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description>创建密码</description>
      <param-name>password</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNewId</servlet-name>
    <url-pattern>/user/getNewId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserInfo</display-name>
    <servlet-name>GetUserInfo</servlet-name>
    <servlet-class>com.joinus.server.servlet.user.GetUserInfo</servlet-class>
    <init-param>
      <description>用户ID</description>
      <param-name>uid</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfo</servlet-name>
    <url-pattern>/user/getUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMeeting</display-name>
    <servlet-name>SendMeeting</servlet-name>
    <servlet-class>com.joinus.server.servlet.meeting.SendMeeting</servlet-class>
    <init-param>
      <description>活动类型</description>
      <param-name>tag</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description>活动的开始时间</description>
      <param-name>start_time</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description>活动的描述内容</description>
      <param-name>content</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description>创建者唯一身份ID</description>
      <param-name>uid</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description>活动的地址坐标信息</description>
      <param-name>address</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description>邀请的人员列表</description>
      <param-name>user_list</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMeeting</servlet-name>
    <url-pattern>/meeting/sendMeeting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMeetings</display-name>
    <servlet-name>GetMeetings</servlet-name>
    <servlet-class>com.joinus.server.servlet.meeting.GetMeetings</servlet-class>
    <init-param>
      <description>用户ID</description>
      <param-name>uid</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>fields</param-name>
      <param-value>id#tag#content#create_user_id#status#address#start_time</param-value>
    </init-param>
    <init-param>
      <description>上一次获取会议邀请的更新时间（long型），如果该参数不传，将返回用户所有的会议邀请信息，数据量会较大</description>
      <param-name>update_time</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMeetings</servlet-name>
    <url-pattern>/meeting/getMeetings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgreeMeeting</display-name>
    <servlet-name>AgreeMeeting</servlet-name>
    <servlet-class>com.joinus.server.servlet.meeting.AgreeMeeting</servlet-class>
    <init-param>
      <description>用户ID或者手机号</description>
      <param-name>uid</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description>活动ID</description>
      <param-name>meeting_id</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgreeMeeting</servlet-name>
    <url-pattern>/meeting/agreeMeeting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFriend</display-name>
    <servlet-name>AddFriend</servlet-name>
    <servlet-class>com.joinus.server.servlet.friend.AddFriend</servlet-class>
    <init-param>
      <description>申请添加关系的用户ID</description>
      <param-name>uid</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description>需要增加的好友ID</description>
      <param-name>friend_id</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description>好友的电话号码</description>
      <param-name>phone_no</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriend</servlet-name>
    <url-pattern>/friend/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgreeFriend</display-name>
    <servlet-name>AgreeFriend</servlet-name>
    <servlet-class>com.joinus.server.servlet.friend.AgreeFriend</servlet-class>
    <init-param>
      <description>用户自己ID</description>
      <param-name>uid</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description>好友ID</description>
      <param-name>friend_id</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgreeFriend</servlet-name>
    <url-pattern>/friend/agree</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendList</display-name>
    <servlet-name>FriendList</servlet-name>
    <servlet-class>com.joinus.server.servlet.friend.FriendList</servlet-class>
    <init-param>
      <description>用户ID</description>
      <param-name>uid</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description>范例：(1)id#name#phoneNo将返回用户信息中id,name和phoneNo，(2)id#phoneNo将返回id和phoneNo信息，如果该参数不传，将只返回id信息</description>
      <param-name>fields</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description>提取好友开始位置</description>
      <param-name>begin</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <description>提取最多limit个好友信息</description>
      <param-name>limit</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendList</servlet-name>
    <url-pattern>/friend/friendList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePlazaActivity</display-name>
    <servlet-name>CreatePlazaActivity</servlet-name>
    <servlet-class>com.joinus.server.servlet.plazaActivity.CreatePlazaActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePlazaActivity</servlet-name>
    <url-pattern>/plaza/createNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitServlet</display-name>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.joinus.server.servlet.InitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UploadImage</display-name>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>com.joinus.server.servlet.upload.UploadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/UploadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPlazaShareMessage</display-name>
    <servlet-name>GetPlazaShareMessage</servlet-name>
    <servlet-class>com.joinus.server.servlet.comment.GetPlazaShareMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPlazaShareMessage</servlet-name>
    <url-pattern>/GetPlazaShareMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePlazaShareMessage</display-name>
    <servlet-name>CreatePlazaShareMessage</servlet-name>
    <servlet-class>com.joinus.server.servlet.comment.CreatePlazaShareMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePlazaShareMessage</servlet-name>
    <url-pattern>/CreatePlazaShareMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPlazaShareMessageList</display-name>
    <servlet-name>GetPlazaShareMessageList</servlet-name>
    <servlet-class>com.joinus.server.servlet.comment.GetPlazaShareMessageList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPlazaShareMessageList</servlet-name>
    <url-pattern>/GetPlazaShareMessageList</url-pattern>
  </servlet-mapping>
</web-app>